In [1]:
import pandas as pd

In [15]:
boxoffice = pd.read_html("https://en.wikipedia.org/wiki/List_of_Pixar_films", header=1, match="Box office gross")[0]
boxoffice

,Year,Film,Budget,U.S. and Canada,Other territories,Worldwide,Ref.
0,1995,Toy Story,$30 million,"$192,523,233","$172,747,718","$365,270,951",[53][54]
1,1998,A Bug's Life,$120 million,"$162,798,565","$200,460,294","$363,258,859",[55]
2,1999,Toy Story 2,$90 million,"$245,852,179","$265,506,097","$511,358,276",[56][57]
3,2001,"Monsters, Inc.",$115 million,"$289,916,256","$342,400,393","$632,316,649",[58]
4,2003,Finding Nemo,$94 million,"$339,714,978","$531,300,000","$871,014,978",[59]
5,2004,The Incredibles,$92 million,"$261,441,092","$370,165,621","$631,606,713",[60]
6,2006,Cars,$120 million,"$244,082,982","$217,900,167","$461,983,149",[61]
7,2007,Ratatouille,$150 million,"$206,445,654","$417,280,431","$623,726,085",[62]
8,2008,WALL-E,$180 million,"$223,808,164","$297,503,696","$521,311,860",[63]
9,2009,Up,$175 million,"$293,004,164","$442,094,918","$735,099,082",[64]
10,2010,Toy Story 3,$200 million,"$415,004,880","$651,964,823","$1,066,969,703",[65]
11,2011,Cars 2,$200 million,"$191,452,396","$368,400,000","$559,852,396",[66]
12,2012,Brave,$185 million,"$237,283,207","$301,700,000","$538,983,207",[67]
13,2013,Monsters University,$200 million,"$268,492,764","$475,066,843","$743,559,607",[68][69]
14,2015,Inside Out,$175 million,"$356,461,711","$501,149,463","$857,611,174",[70]
15,2015,The Good Dinosaur,$175 million,"$123,087,120","$209,120,551","$332,207,671",[71][72]
16,2016,Finding Dory,$200 million,"$486,295,561","$542,275,328","$1,028,570,889",[73][74]
17,2017,Cars 3,$175 million,"$152,901,115","$231,029,541","$383,930,656",[75][76]
18,2017,Coco,$175 million,"$209,726,015","$597,356,181","$807,082,196",[77][78]
19,2018,Incredibles 2,$200 million,"$608,581,744","$634,223,615","$1,242,805,359",[79][80]
20,2019,Toy Story 4,$200 million,"$434,038,008","$639,356,585","$1,073,394,593",[81][82]
21,2020,Onward,$175–200 million,"$61,555,145","$80,394,976","$141,950,121",[83]
22,2020,Soul,$150 million,—[b],"$120,957,731","$120,957,731",[84]
23,2021,Luca,—,—[b],"$49,750,471","$49,750,471",[85][86]
24,2022,Turning Red,$175 million,—[b],"$20,122,621","$20,122,621",[87][88]
25,2022,Lightyear,$200 million,"$118,307,188","$108,118,232","$226,425,420",[89][90]
26,2023,Elemental,$200 million,"$154,426,697","$340,309,878","$494,736,575",[91][92]

### Exercise
Clean the data, convert numeric columns to float, calculate a new column "results", group by year, and plot using seaborn.